<div class='row mb-4 project'>
  <div class='col-md-5'>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href='/post/{{post.id}}'>{{post.title}}</a>
    </h2>
    <p>{{post.description}}</p>
  </div>
  <div class='col-md-7'>
    <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
</div>

{{#each post.comments as |comment|}}
<div class='row mb-4'>
  <div>
    <p>{{comment.content}}</p>
    <p>--{{comment.user.name}}, {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}

<form class="form new-comment-form" data-id="{{post.id}}">
  <div class="form-group">
    <label for="comment-content">Comment:</label>
    <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<script type="text/javascript" src="/js/single-post.js"></script>