<div class='row mb-4 project'>
  <div class='col-md-5'>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href='/post/{{post.id}}'>{{post.title}}</a>
    </h2>
    <p>{{post.description}}</p>
  </div>
  <div class='col-md-7'>
    <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <p>Comments go here:</p>
</div>

{{#each post.comments as |comment|}}
<div>
  <h3>{{comment.content}}</h3>
  <h4>--{{comment.user.name}}, {{comment.date_created}}</h4>
</div>
{{/each}}

<p>Comment</p>
<div>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
  <button id="comment-submit">Submit</button>
</div>